<!DOCTYPE html>
<html lang="es">

<body>
<h1 class="ti">SERVICIO DE MONITORIAS</h1>

                  <p class="cur">Por favor ingrese el codigo del curso. Recuerde que para ser un monitor de pregrado usted debe tener un promedio superior 3.8, ya haber matriculado el curso y haber inscrito menos de 22 creditos, Igualmente para los estudiantes de posgrado los requisitos son un promedio superior a 4.2, ya haber tomado el curso y no estar inscrito en ningun otra monitoria. oprima verificar para saber si cumple con los requisitos</p>

      <section class="iniciar">
                    <form id="formi">
                        <input id="in" type="text" name="codigo de Curso" placeholder="codigo">
                    </form>
                    <div id="bot">
                        <a id="a1" href="#">verificar</a>
                    </div>
      </section>
              </br>
             <table>
                  <thead>
                        <tr>
                              <th>CURSOS DISPONIBLES</th><th>CODIGO CURSO</th>
                        </tr>
                  </thead>

                  <tr>
                        <td>ING. WEB</td><td>MON-01</td>
                  </tr>
                  <tr>
                        <td>ECUACIONES</td><td>MON-02</td>
                  </tr>
                  <tr>
                        <td>ING. DE SOFTWARE</td><td>MON-03</td>
                  </tr>
                  <tr>
                        <td>CALCULO DIF</td><td>MON-04</td>
                  </tr>
            </table>

                  </br>

                  <h2> Cursos Posgrado</h2>
                  </br>
                               <table>
                  <thead>
                        <tr>
                              <th>CURSOS DISPONIBLES</th><th>CODIGO CURSO</th>
                        </tr>
                  </thead>

                  <tr>
                        <td>INT. ARTIFICIAL</td><td>MON-21</td>
                  </tr>
                  <tr>
                        <td>SEGURIDAD INFORMATICA</td><td>MON-22</td>
                  </tr>
                  <tr>
                        <td>SOFTWARE AVANZADO</td><td>MON-23</td>
                  </tr>
                  <tr>
                        <td>CALCULO DIF</td><td>MON-24</td>
                  </tr>
            </table>
      </br>
      </body>
</html>