<!DOCTYPE html>
<html lang="es">

<body>
      

                <h1 class="ti"> Portal de Inscripciones de la Universidad Cat칩lica de Colombia</h1>


                    <p class="cur"> En el siguiente portal podras matricular tus cursos e inscribirte a las monitorias academicas.

                    Accede con tu correo institucional y contrase침a y luego pulsa Entrar.</p>


                <div class="textob">
                <section class="iniciar">
                    <form>
                        <input type="text" name="Usuario" placeholder="Usuario">
                        <input type="password" name="Contrase침a" placeholder="Contrase침a">
                    </form>
                                    
                        <nav id="boto" >
                            <a id="a1" href="#">Entrar</a>
                        </nav>

                </section>

                </div>

</body>
</html>