<!DOCTYPE html>
<html lang="es">

<body>
      <h1 class="ti">Matriculacion de cursos</h1>

                  <p class="cur"> Inscriba las materias para el proximo semestre a continuacion</p>


                    <div id="boton" >
                        <a id="a1" href="#">Matricular</a>
                    </div>
                    <div class="boton" id="boton1" >
                        <a id="a1" href="#">Eliminar</a>
                    </div><div id="boton2" >
                        <a id="a1" href="#">CALCULAR    COSTO</a>
                    </div>
            <table>
                  <thead>
                        <tr>
                              <th>CURSO</th><th>CUPOS</th><th>COSTO</th><th>MATRICULADO</th><th>SELECCIONE</th>
                        </tr>
                  </thead>

                  <tr>
                        <td>ING. WEB</td><td>2</td><td>$ 443.000</td><td>SI</td><td><input class="circle" type="radio" name="ing" value="1"></td>
                  </tr>
                  <tr>
                        <td>ECUACIONES</td><td>0</td><td>$ 534.500</td><td>SI</td><td><input class="circle" type="radio" name="ing" value="2"></td>
                  </tr>
                  <tr>
                        <td>ING. DE SOFTWARE</td><td>10</td><td>$ 1'130.100</td><td>NO</td><td><input class="circle" type="radio" name="ing" value="3"></td>
                  </tr>
                  <tr>
                        <td>CALCULO DIF</td><td>5</td><td>$ 450.000</td><td>SI</td><td><input class="circle" type="radio" name="ing" value="4"></td>
                  </tr>
            </table>
                  <div id="boton1" >
                        <a id="a1" href="#">Pagar online</a>
                  </div>
                  <div id="boton2" >
                        <a id="a1" href="#">Imprimir recibo</a>
                 
             	  </div>
 
</body>
</html>